@import "tailwindcss";
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;  /* for Internet Explorer and Edge */
  scrollbar-width: none;     /* for Firefox */
}