@import "tailwindcss";
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none; /* for Internet Explorer and Edge */
  scrollbar-width: none; /* for Firefox */
}
/* Hide scrollbar track (white bg) and style thumb */
.dark-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.dark-scrollbar::-webkit-scrollbar-track {
  background: transparent; /* Removes white background */
}

.dark-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.2); /* Subtle gray */
  border-radius: 9999px;
}

.dark-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 255, 255, 0.4);
}

/* Firefox support */
.dark-scrollbar {
  scrollbar-width: 20px;
  scrollbar-color: rgba(255, 255, 225, 0.2) transparent;
}
